<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<!--statik doyaların (css,js) çalışabilmesi iin dışarıya açılmış olması gerekir.
Startup.cs dosyasına Configure() metoduna hangi klasör veya dosyaların
dışarıdan erişilebilir olacağını söylememiz gerekiyor.
Startup.cs de belirttiğimiz gibi aslında dosya "node_modules" klasorunde olmasına rağmen
RequestPath ile dosyaya /modules/ yazarak da ulaşabiliriz.-->
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="container m-2">
        <div class="card mx-auto" style="500px;">
            <div class="card header">
                <!--@ViewBag ile Controller'da oluturduğumuz değişkenleri
                View'de @ViewBag.DegiskenAdi şeklinde çekiyoruz.-->
                @ViewBag.UserName @ViewBag.Greeting
                Saat : @ViewBag.Zaman
                <br>
                ZAMAN = @ViewBag.aman;
            </div>
            <div class="card body">
                <p class="card-text">Kurslara Başvuru Yapın</p>
                <a asp-action="apply" asp-controller="course" class="btn btn-primary">Başvuru Yap</a>
            </div>
        </div>
    </div>
    
</body>
</html>